.card {
  max-height: 384px;
  height: 100%;
  width: 100%;
}

.main {
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}

@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/subset-RadioGrotesk-Bold.woff2") format("woff2"),
    url("/fonts/subset-RadioGrotesk-Bold.woff") format("woff"),
    url("/fonts/subset-RadioGrotesk-Bold.svg#RadioGrotesk-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;

  unicode-range: U+20,U+2D,U+3F,U+41-5A,U+61-7A,U+E8,U+E9,U+2019
}

@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/subset-RadioGrotesk-Regular.woff2") format("woff2"),
    url("/fonts/subset-RadioGrotesk-Regular.woff") format("woff"),
    url("/fonts/subset-RadioGrotesk-Regular.svg#RadioGrotesk-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+20,U+2D,U+3F,U+41-5A,U+61-7A,U+E8,U+E9,U+2019
}

.image-section .sliced-image {
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  height: 340px;
}

.image-section .sliced-image:nth-child(2) {
  margin-left: -10%;
}
.image-section .sliced-image:nth-child(3) {
  margin-left: -14%;
}

.image-section .sliced-image-alt {
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
  height: 340px;
}

.image-section .sliced-image-alt:nth-child(2) {
  margin-left: -11%;
  z-index: 2;
}
.image-section .sliced-image-alt:nth-child(3) {
  margin-left: -13%;
  z-index: 3;
}

.job-heading::before {
  content: "";
  position: absolute;
  display: block;
  width: 103%;
  margin-left: -2.5%;
  height: 23px;
  @apply bottom-0;
  z-index: -1;
  margin-bottom: -5px;
}

.job-heading {
  display: inline-block;
  transform: rotate(-1deg);
}

.job-heading-two::before {
  background: linear-gradient(180deg, #e7fff0 0%, #e7eeff 100%);
}
.job-heading-whats::before {
  background: linear-gradient(180deg, #e7f6ff 0%, #eae7ff 100%);
}
.job-heading-parcours::before {
  background: linear-gradient(180deg, #ffe7e7 0%, #f4e7ff 100%);
}
.job-heading-itw::before {
  background: linear-gradient(180deg, #e7f3ff 0%, #f1e7ff 100%);
}
.job-heading-money::before {
  background: linear-gradient(180deg, #d3ffd1 0%, #e7ebff 100%);

}

.job-grid-first > * {
  @apply bg-white;
  @apply h-full;
  @apply w-full;
  @apply rounded-lg;
  @apply hover:scale-105;
  @apply focus:scale-105;
  @apply focus:outline-none;
  @apply transform-gpu;
  @apply transition-all;
  @apply duration-300;
  @apply ease-out;
  box-shadow: 0px 3px 16px 0px rgba(37, 36, 56, 0.1);
}

#follow-aymeric {
  background: linear-gradient(
    90deg,
    rgba(0, 87, 255, 0.8) 0%,
    rgba(0, 88, 255, 0.8) 6.67%,
    rgba(1, 90, 255, 0.8) 13.33%,
    rgba(2, 93, 254, 0.8) 19.99%,
    rgba(2, 93, 254, 0.8) 20%,
    rgba(4, 98, 253, 0.8) 26.67%,
    rgba(7, 104, 252, 0.8) 33.33%,
    rgba(10, 112, 251, 0.8) 40%,
    rgba(13, 120, 249, 0.8) 46.67%,
    rgba(16, 128, 248, 0.8) 53.33%,
    rgba(19, 136, 246, 0.8) 60%,
    rgba(22, 144, 245, 0.8) 66.67%,
    rgba(25, 150, 244, 0.8) 73.33%,
    rgba(27, 155, 243, 0.8) 80%,
    rgba(28, 158, 242, 0.8) 86.67%,
    rgba(29, 160, 242, 0.8) 93.33%,
    rgba(29, 161, 242, 0.8) 100%,
    rgba(29, 161, 242, 0.8) 100%
  );
}

.product-designer span {
  display: block;
}
.product-designer-text p {
  @apply text-justify;
  @apply text-lg;
  @apply text-cool-gray-800;
}
.link {
  @apply text-xl;
  @apply font-medium;
  @apply text-blue-clay;
}
.link-alt {
  @apply text-xl;
  @apply font-medium;
  @apply text-blue-clay-alt;
}
